@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Want to shorten the URL? <a asp-controller="Url" asp-action="Table">Click here!</a></p>
</div>
